dist
public
node_modules
.tags
.package-lock.json
.gitignore
.dockerignore
back/resolvers/*/gen.*
back/schema/gen.*
front/components/*/gen.*
front/routes/*/gen.*
front/queries/*/gen.*
front/pages/*/*/gen.*
front/libs/*/gen.*