/dist
/public
/node_modules
/.tags
/.package-lock.json
/back/resolvers/index.ts
/back/resolvers/**/*.ts
!/back/resolvers/k8s/custom.ts
!/back/resolvers/k8s/permissions.ts
!/back/resolvers/core/*
!/back/resolvers/vynil/custom.ts
!/back/resolvers/vynil/Package.ts
!/back/resolvers/vynil/Category.ts
/back/schema/*.graphql
!/back/schema/core.graphql
/front/queries/**/*.graphql
!/front/queries/core/*
!/front/queries/vynil/InstallPrepare.graphql
/front/routes/index.ts
/front/routes/*/*
/front/components/**/*.vue
!/front/components/core/*
!/front/components/navigation/*
!/front/components/charts/*
!/front/components/vynil/PackageList.vue
!/front/components/vynil/CategoryList.vue
!/front/components/vynil/PackageMeta.vue
!/front/components/vynil/CategoryMeta.vue
/front/libs/**/*.ts
!/front/libs/*/custom.ts
!/front/libs/i18n/*
!/front/libs/core/*
/front/pages/**/*.vue
!/front/pages/core/*.vue
!/front/pages/install/vynil/DistribView.vue
!/front/pages/install/vynil/InstallView.vue
!/front/pages/install/vynil/InstallEdit.vue
!/front/pages/install/vynil/InstallNew.vue
