/dist
/public
/node_modules
/.tags
/.package-lock.json
/back/resolvers/*/gen.*
/back/schema/gen.*
/front/components/*/gen.*
/front/queries/*/gen.*
/front/routes/*/gen.*
/front/pages/*/*/gen.*
/front/libs/*/gen.*
