<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script type="importmap">
      {
        "imports": {
          "vue": "/vue.esm-browser.js",
          "@vue/devtools-api": "/setupDevtoolsPlugin.js"
        }
      }
    </script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>